
@import "../../config.less";

.weather {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: @Black;
  padding: 15% 5% 5%;
  box-sizing: border-box;
  position: relative;
}

.header{
  display:flex;
  justify-content: space-between;
  width: 100%;

  .province {
    text-align: left;
    font-size: 35px;
    display:flex;
    align-items: center;
    .postion-icon {
      margin-right: 10px;
      width: 35px;
      height: 35px;
      background-image: url("../../assets/imgs/postion-icon.png");
    }
  }
}

.weather-info  {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
}
.weather-icon-component  {
  text-align: center;
  min-height:0;
  display:flex;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 0;

  .weather-compontent {
    .address {
      font-size: 30px;
    }
  }

  .weather-temp {
    font-size: 80px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      right: -15px;
      top: 0 ;
      width: 15px;
      height: 15px;
      border: 5px solid @Black;
      border-radius: 50%;
    }
  }
}

.data-source {
  font-size: 20px;
}

// /* 深色模式 */
// @media ( prefers-color-scheme: dark ) {

//   .weather {
//     color: @White;
//   }

//   .weather-info {
//     .weather-temp {
//       font-size:80px;
//       position: relative;
//       &::after {
//         border-color: @White;
//       }
//     }
//   }
//   .header{
//     .province {
//       .postion-icon {
//         background-image: url("../../assets/imgs/postion-icon-black.png");
//       }
//     }
//   }
// }

