@import "./config.less";
Page {
  width: 100%;
  height:100%;
  overflow-y: hidden;
}
.content {
  width: 100%;
  height:100%;
  background: @White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (prefers-color-scheme: dark ) {
  .content {
    background: @Black;
  }
}

